

{% extends "base.html" %}
{% block content %}

     <div class="row" >
         <!--<div class="col-md-2"></div>-->
         <div class="col-md-12">

      {% if rows %}
       <table class="table table-display">
           <thead>
            <tr>
                <th>Products</th>
                <th>Quantities</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
           </thead>
           <tbody>

     {% for row in rows %}
         <tr>
             <td>{{row[1]}}</td>
             <td>{{row[2]}}</td>
             <td>{{row[3]}}</td>
             <td>
                 <form action="/adminform" method="post">
                     <input type="hidden" value={{row[0]}} id="id" name="id" />
                     <input type="submit" value="Edit"  name="action" class="btn btn-primary btn-sm"/>
                     <input type="submit" value="Delete"  name="action" class=" btn btn-danger btn-sm"/>
                  </form>

             </td>
         </tr>

     {% endfor %}
           </tbody>
       </table>
      {% else: %}
      <p>No product to display yet</p>
      {% endif %}
         </div>


      </div>
      <div class="row">
          <div class="col-md-12">
         <p><a class="btn btn-primary btn-sm" role="button" href="/newproductform">New Product</a></p>
      </div>
     </div>
{% endblock %}


