

{% extends "base.html" %}
{% block content %}

     <div class="row">

         <div class="col-md-12">

             Welcome to is about data. We carry out all kinds of data analysis using modern and proven tools. Here we help give structure to your unstructured academics and business data.
             <h2>Data Analysis Tools</h2>
              We use the following tools
             <ul>
                 <li>Python</li>
                 <li>SPSS</li>
                 <li>R</li>
                 <li>Microsoft Excel</li>
                 <li>Others</li>
             </ul>

             <h2>Procedure</h2>

             The process is simple
             <ul>
                 <li>upload your data</li>
                 <li>leave a comment on the type of analysis</li>
                 <li>for a token the job is done</li>
             </ul>
                 <p><a class="btn btn-primary btn-sm" role="button" href="/dataform">Start here </a></p>
         </div>

      </div>
{% endblock %}


