

{% extends "base.html" %}

{% block content %}

     <div class="row">
       
         <div class="col-md-12">
             <h3>Your Data</h3>
             <form action='/newjokedata' method='post' enctype="multipart/form-data">
                 <input type="file" name="your_file" /><br/>
                 <textarea id="comment" name="comment" cols="30" rows="5"></textarea><br/>
              <input type='submit' id='action' name='action' value='Send' class="btn btn-primary btn-sm"/>
              </form>

         </div>

      </div>
{% endblock %}


\