

{% extends "base.html" %}
{% block content %}

     <div class="row">

         <div class="col-md-4">
             <span><h4>Edit products</h4></span>
             {% for row in rows %}
             <form action='/updateproductdata' method='post' role="form">
                 <div class="form-group">
                      <input type='hidden' value={{row[0]}} id="product_id" name='product_id' />
                         <input type='text' id="product_name" name='product_name' value ={{row[1]}} class="form-control" />
                           <label></label>
                          <input type='text' id="product_quantity" name='product_quantity' value ={{row[2]}} class="form-control" /><br/>
                      <input type='submit' id='action' name='action' value='Update' class="btn btn-primary"/>
                 </div>
              </form>
             {% endfor %}
         </div>
         <div class="col-md-8"></div>

      </div>
{% endblock %}


