

{% extends "base.html" %}

{% block content %}

     <div class="row">

         <div class="col-md-4">
             <span><h4>New Product</h4></span>
             <form action='/newproductdata' role="form" method='post'>
             <div class="form-group">
              <input type='text' id='product_name' name='product_name' placeholder='Enter new product ' class="form-control"/>
                 <label></label>
               <input type='text' id='product_quantity' name='product_quantity' placeholder='Enter quantity ' class="form-control" />
              <input type='submit' id='action' name='action' value='Send' class="btn btn-primary"/>
             </div>
              </form>

         </div>
        <div class="col-md-8"></div>
      </div>
{% endblock %}


